@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

* {
  font-family: "Urbanist", sans-serif;
}

.features__card {
  @apply place-items-center rounded-2xl px-8 py-6 space-y-4 shadow-sm;
}
.flex-inline {
  @apply flex gap-2 items-center;
}

.steps {
  & .step {
    > .step-icon,
    &:not(:has(.step-icon)):after {
      border-radius: 1px;
    }
  }
}
